[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.svc
IP.1 = {{ kubernetes_service_addresses|ipaddr('net')|ipaddr(1)|ipaddr('address') }}
{% if kubernetes_master_group %}
{% set ip_last_index = 1 %}
{% for host in groups[kubernetes_master_group] %}
IP.{{ ip_last_index + loop.index }} = {{ hostvars[host].ansible_default_ipv4.address }}
{% endfor %}
{% if kubernetes_master_elb_ip is defined %}
IP.{{ ip_last_index + 1 + groups[kubernetes_master_group]|length }} = {{ kubernetes_master_elb_ip|ipv4 }}
{% endif %}
{% if kubernetes_master_elb_dns_name is defined %}
DNS.4 = {{ kubernetes_master_elb_dns_name }}
{% if kubernetes_master_elb_cname is defined %}
DNS.5 = {{ kubernetes_master_elb_cname }}
{% endif %}
{% endif %}
{% endif %}
